<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap-min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>Tasha</title>
  </head>
  <body>
    <div class="container-fluid">
      <!-- nav -->
      <div class="row nav">
        <div class="col-3">logo</div>
        <div class="col-6">
          <a href="/index.html">Home</a>
          <a href="/views/product-page.html">Products</a>
          <a href="/views/about-page.html">About</a>
        </div>
      </div>
      <!-- main -->
      <div class="row" id="about-us">
        <div class="col-12">
          <h3>About us</h3>
          <hr />
          <p style="color: #424242;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
            officia quis modi quas maiores totam! Temporibus impedit repellendus
            itaque voluptate consequatur molestias esse dolorem accusantium!
            Quam totam consequuntur numquam dolorum. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Sunt accusamus consectetur voluptate
            iusto, obcaecati autem eligendi labore dolorum nulla quam ad optio
            nesciunt repellendus aspernatur sed itaque nam, temporibus
            reprehenderit?
          </p>
        </div>
        <div class="col-12">
          <h3>Find a Tacha near you</h3>
          <hr />
          <div class="search"><input type="text" /><button>GO</button></div>
          <div>
            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15856.253527566354!2d3.3892903999999997!3d6.5136621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1646648021908!5m2!1sen!2sng"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h3>Suggestion box</h3>
          <hr />
          <div class="suggestion-box">
            <textarea name="" id="" cols="50" rows="5"></textarea>
            <button class="submit">submit</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
