<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap-min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/product-page.css" />
    <title>Tasha</title>
  </head>
  <body>
    <div class="container-fluid">
        <!-- nav -->
      <div class="row nav">
        <div class="col-3">logo</div>
        <div class="col-6">
          <a href="/index.html">Home</a>
          <a href="/views/product-page.html">Products</a>
          <a href="/views/about-page.html">About</a>
          <a href="#footer">Contact</a>
        </div>
        <div class="col-3">login</div>
      </div>
      <!-- hero -->
      <div class="row ">
          <div class="col-8 hero section">

          </div>
      </div>
      <!-- products  -->
      <div class="row products section">
        <div class="col-12 nav">
            nav
        </div>
        <div class="col-12 body">
            body
        </div>
      </div>
      <!-- footer -->
      <div class="row footer section" id="footer">
          <div class="col-md-3 col-12 bpx">
              <h4>About</h4>
              <p>Lorem, ipsum.</p>
              <p>Lorem, ipsum.</p>
              <p>Lorem, ipsum.</p>
          </div>
          <div class="col-md-6 col-12 bpx">
              <h4>Contact</h4>
          </div>
          <div class="col-md-3 col-12 bpx">
              <h4>Subscribe to our Newsletter</h4>
          </div>
      </div>
    </div>
  </body>
</html>
