<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap-min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/product-page.css" />
    <title>Tasha</title>
  </head>
  <body ng-app="store" ng-controller="storeCtr">
    <div class="container-fluid">
      <!-- nav -->
      <div class="row nav">
        <div class="col-3">
          <img src="/assets/logo.svg" id="logo" alt="" />
        </div>
        <div class="col-6 links">
          <a href="/index.html">Home</a>
          <a href="/views/product-page.html">Products</a>
          <a href="/views/about-page.html">About</a>
          <a href="#footer">Contact</a>
        </div>
        <div class="col-3">login</div>
      </div>
      <!-- hero -->
      <div class="row">
        <!-- <div class="col-8 hero section"></div> -->
      </div>
      <!-- products  -->
      <div class="row products section">
        <div class="col-12">
          <div class="shop-nav">
            <ul>
              <li ng-repeat="cat in categories">
                <a href="#{{cat.name}}">{{cat.name}}</a>
              </li>
              <li><a href="">Cart</a></li>
            </ul>
            <hr />
          </div>
        </div>
        <div class="col-12">
          <div class="shop-body">
            <div class="row">
              <div class="col-12" ng-repeat="cat in categories">
                <div id="{{cat.name}}">
                  <h3>{{cat.name}}</h3>
                  <hr />
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3 item" ng-repeat="item in cat.items">
                        <div>
                          <img src="{{item.url}}" alt="" />
                          <div>
                            <span>{{item.name}}</span>
                            <button>Add to cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div class="row footer section" id="footer">
        <div class="col-md-3 col-12">
          <h4>About</h4>
          <p>Introduction</p>
          <p>Affiliated brands</p>
          <p>Terms and Conditions</p>
        </div>
        <div class="col-md-4 col-12">
          <h4>Contact</h4>
          <p>
            <a href="mailto:talkwithtasha@gmail.com">talkwithtasha@gmail.com</a>
          </p>
          <p>+234-703-343-9661, +234-903-343-7761</p>
        </div>
        <div class="col-md-4 col-12">
          <h4>Subscribe to our Newsletter</h4>
          <div>
            <input type="text" placeholder="Email" /><button>Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/angular-min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
